body {
    background: lightblue;
    font: 18px Arial, sans-serif;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
}

.__item__genre{
    max-width: 800px;
    margin-top: 15px;
    margin-bottom: 55px;
}
.__item__rating{
    max-width: 800px;
    margin-top: 15px;
    margin-bottom: 55px;
}